name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 10, 12, 13, 14]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: node --version
      - run: npm install
      - run: npm test
      - name: coverage
        uses: codecov/codecov-action@v1
        with:
          name: actions linux ${{ matrix.node }}
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm install
      - run: npm test
      - name: coverage
        uses: codecov/codecov-action@v1
        with:
          name: actions windows
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm install
      - run: npm run lint
